.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  /* min-width: 100vh; */
  color: #fff;
}

.App-logo {
  margin-top: 25px;
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 25px;
}

.circle {
  /* background: #282c34; */
  border: 5px solid #68251D;
  border-radius: 50%;
}